{% extends "flatpages/default.html" %}

{% block content %}
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">
            <div class="row">
                <div class="col-lg-12">
                    <h2>О проекте</h2>
                    <p>Этот проект является учебной работой, направленной на создание интернет-ресурса для фанатского сервера одной известной MMORPG. Основные функции и особенности проекта включают:</p>
                    <ul>
                        <li>Регистрация пользователей по e-mail с подтверждением через письмо.</li>
                        <li>Возможность создания и редактирования объявлений с картинками, видео и другим контентом.</li>
                        <li>Функционал откликов на объявления с уведомлениями по e-mail.</li>
                        <li>Приватная страница для управления откликами на свои объявления.</li>
                        <li>Категоризация объявлений: Танки, Хилы, ДД и другие специализации.</li>
                        <li>Возможность рассылки новостей пользователям.</li>
                    </ul>
                    <p>Цель проекта - предоставить удобный и функциональный сервис для сообщества игроков MMORPG.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
