{% extends 'flatpages/default.html' %}

{% block title %}
Детали публикации
{% endblock title %}

{% block content %}
<div class="container my-4">
    <h1 class="mb-3">{{ news_detail.title }}</h1>
    <p><strong>Категория:</strong> {{ news_detail.category }}</p>
    <p><strong>Автор:</strong> {{ news_detail.author }}</p>
    <p><strong>Дата публикации:</strong> {{ news_detail.created_at }}</p>
    <p>{{ news_detail.content|safe }}</p>

    <a href="{% url 'news_list' %}" class="btn btn-secondary my-3">Назад к Новостям</a>
    <a href="{% url 'add_comment' post_pk=news_detail.id %}" class="btn btn-primary my-3">Написать комментарий</a>

    <h2 class="mt-4">Комментарии:</h2>
    <div class="comments-section">
        {% for comment in comments %}
            {% if comment.approved %}
                <div class="card mb-2">
                    <div class="card-body">
                        <p class="card-title"><strong>Комментарий от:</strong> {{ comment.user }}</p>
                        <p class="card-text"><strong>Дата:</strong> {{ comment.created_at }}</p>
                        <p class="card-text">{{ comment.text }}</p>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock content %}
