{% extends "flatpages/default.html" %}

{% block content %}
    <h1 class="my-4">Публикации</h1>

    <!-- Список новостей -->
    <div class="news-container">
        {% for post in news %}
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{ post.title }}</h2>
                    <p class="text-muted">Опубликовано: {{ post.created_at }}</p>
                    <p class="card-text">{{ post.content|truncatewords:20|safe }}</p>
                    <a href="{% url 'news_detail' post.id %}" class="btn btn-primary">Комментарии</a>
                </div>
                <div class="card-footer text-muted">
                    Категория: {{ post.category }} - Автор: {{ post.author }}
                </div>
            </div>
        {% empty %}
            <p class="text-center">Публикаций нет.</p>
        {% endfor %}
    </div>
{% endblock %}
